<!doctype html>
<html lang="tw" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://code.angularjs.org/1.2.26/angular.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	
	<script src="https://code.angularjs.org/1.2.26/angular-animate.js"></script>

	<script src="../dist/dialog.js"></script>
	<link rel="stylesheet" href="../dist/dialog.min.css">
	
	<script>
		angular.module("App", ["ezdialog"]).controller("main", function($scope, ezdialog, $timeout){
			$scope.dialog = ezdialog;
			
			$scope.showRet = function(ret){
				ezdialog.show(String(ret));
			};
			
			$scope.timeout = function(){	
				var dialog = ezdialog.show('Close after 1 second');
				
				$timeout(function(){
					dialog.instance.close();
				}, 1000);
			};
			
			$scope.number = 12345;
		});
	</script>
</head>

<body ng-controller="main">

	<div class="container">
	
		<h3>Default</h3>
		<button class="btn btn-default" ng-click="dialog.show()">Show</button>
		<button class="btn btn-default" ng-click="dialog.confirm()">Confirm</button>
		<button class="btn btn-default" ng-click="dialog.yesno()">Yes/No</button>
		<button class="btn btn-default" ng-click="dialog.error()">Error</button>
		
		<h3>Message and title</h3>
		<button class="btn btn-default" ng-click="dialog.show('Hello!')">Hello</button>
		<button class="btn btn-default" ng-click="dialog.show('Hello!', 'Jimmy')">Hello Jimmy!</button>
		
		<h3>Callback</h3>
		<button class="btn btn-default" ng-click="dialog.confirm().then(showRet)">Confirm</button>
		
		<h3>Button click callback</h3>
		<button class="btn btn-default" ng-click="dialog.confirm().ok(dialog.error)">OK with error</button>
		
		<h3>Change default setting</h3>
		<button class="btn btn-default" ng-click="(dialog.conf.size='lg') && dialog.show('Everything should be large!')">Make default size "large"</button>
		
		<h3>Further configure</h3>
		<button class="btn btn-default" ng-click="dialog.show({title: 'This is title', msg: 'This should be green!', type: 'success', size: 'md'})">Custom dialog</button>
		
		<h3>Use modal instance</h3>
		<button class="btn btn-default" ng-click="timeout()">Timeout</button>
		
		<h3>Use custom template</h3>
		<button class="btn btn-default" ng-click="dialog.show({template: 'template3.html', scope: {number: 999, input: {number: 888}}})">Custom dialog (After version 2.0)</button>
		<button class="btn btn-default" ng-click="dialog.show({template: 'template2.html'})">With http request</button>
		<button class="btn btn-default" ng-click="dialog.show({msg: 'loading...', error: 'loading failed!', template: 'not-exist.html'})">Loading error</button>
		
		<h3>Use ezdialog directive</h3>
		<button class="btn btn-default" ezdialog-toggle="my-dialog">Toggle dialog</button>
		<div ezdialog="my-dialog" ezdialog-title="Ezdialog directive" size="md" type="warning" onok="dialog.show('Use $dialog.close() to close dialog manually.') && $dialog.close()" oncancel="dialog.show('cancel')" yes="YEEES" no="NOOOO" backdrop-toggle>
			<pre>$scope.number = {{number}}<br>$scope.input.number = {{input.number}}<br>$parent.dialog.scope = {{dialog.scope|json}}</pre>
			<input type="text" class="form-control" ng-model="number" required>
		</div>
		
	</div>
	
	<script type="text/ng-template" id="template.html">
		<p>Custom template! This will be included in modal body.</p>
		<pre>$scope.param = {{param|json}}</pre>
		<p>Give autofocus attribute to focus an input.</p>
		<input type="text" class="form-control" ng-model="param.number" autofocus required>
	</script>
	
	<script type="text/ng-template" id="template3.html">
		<p>Ezdialog will do a shallow copy for each variables in scope object.</p>
		<pre>$scope.number = {{number}}<br>$scope.input.number = {{input.number}}<br>$parent.dialog.scope = {{dialog.scope|json}}</pre>
		<input type="text" class="form-control" ng-model="number" required>
		<input type="text" class="form-control" ng-model="input.number" required>
	</script>
	
</body>

</html>