.modal {
  display: block;
}
@media (min-width: 768px) {
  .modal {
    text-align: center;
  }
  .modal:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .modal .modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
  }
}
.modal-backdrop.ng-enter {
  transition: 0.3s all ease;
  opacity: 0;
}
.modal-backdrop.ng-enter.ng-enter-active {
  opacity: 0.5;
}
.modal-backdrop.ng-leave {
  transition: 0.2s all ease;
  opacity: 0.5;
}
.modal-backdrop.ng-leave.ng-leave-active {
  opacity: 0;
}
.modal.ng-enter {
  transition: 0.4s all ease;
  transform: translateY(-25%);
  opacity: 0;
}
.modal.ng-enter.ng-enter-active {
  transform: none;
  opacity: 1;
}
.modal.ng-leave {
  transition: 0.2s all ease;
  opacity: 1;
}
.modal.ng-leave.ng-leave-active {
  margin-top: -25px;
  opacity: 0;
}
.modal-primary .modal-header {
  background-color: #428bca;
  color: white;
}
.modal-success .modal-header {
  background-color: #5cb85c;
  color: white;
}
.modal-info .modal-header {
  background-color: #5bc0de;
  color: white;
}
.modal-warning .modal-header {
  background-color: #f0ad4e;
  color: white;
}
.modal-danger .modal-header {
  background-color: #d9534f;
  color: white;
}
