<!doctype html>
<html lang="tw" ng-app="App">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.0/ui-bootstrap-tpls.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<script src="dialog.js"></script>
	<link rel="stylesheet" href="dialog.css">
	
	<script>
		angular.module("App", ["ui.bootstrap", "ezdialog"]).controller("main", function($scope, ezdialog, $timeout){
			$scope.dialog = ezdialog;
			
			$scope.showRet = function(ret){
				ezdialog.show(ret.toString());
			};
			
			$scope.timeout = function(){	
				var dialog = ezdialog.show('Close after 1 second');
				
				$timeout(function(){
					dialog.instance.close();
				}, 1000);
			};
		});
	</script>
</head>
<body ng-controller="main" class="container">
	<h3>Default</h3>
	<button class="btn btn-default" ng-click="dialog.show()">Show</button>
	<button class="btn btn-default" ng-click="dialog.confirm()">Confirm</button>
	<button class="btn btn-default" ng-click="dialog.yesno()">Yes/No</button>
	<button class="btn btn-default" ng-click="dialog.error()">Error</button>
	
	<h3>Message and title</h3>
	<button class="btn btn-default" ng-click="dialog.show('Hello!')">Hello</button>
	<button class="btn btn-default" ng-click="dialog.show('Hello!', 'Jimmy')">Hello Jimmy!</button>
	
	<h3>Callback</h3>
	<button class="btn btn-default" ng-click="dialog.confirm().close(showRet)">Confirm</button>
	
	<h3>Button click callback</h3>
	<button class="btn btn-default" ng-click="dialog.confirm().ok(dialog.error)">OK with error</button>
	
	<h3>Change default setting</h3>
	<button class="btn btn-default" ng-click="dialog.conf({size: 'lg'}).show('Everything should be large!')">Click to make everythin big</button>
	
	<h3>Further configure</h3>
	<button class="btn btn-default" ng-click="dialog.show({title: 'This is title', msg: 'This should be green!', type: 'success', size: 'md'})">Custom</button>
	
	<h3>Use modal instance</h3>
	<button class="btn btn-default" ng-click="timeout()">Timeout</button>
	
	<h3>Use custom template</h3>
	<button class="btn btn-default" ng-click="dialog.show({template: 'template.html', param: {number: 999}})">Custom dialog</button>
	<button class="btn btn-default" ng-click="dialog.show({template: 'template2.html'})">With http request</button>
	<button class="btn btn-default" ng-click="dialog.show({msg: 'loading failed!', template: 'not-exist.html'})">Load error</button>
	
	<script type="text/ng-template" id="template.html">
		<p>Custom template! This will be include in modal body.</p>
		<pre>$scope.ez = {{ez}}</pre>
		<input type="text" class="form-control" autofocus ng-model="param.number">
	</script>
</body>
</html>